.hidden {visibility: hidden;
        }

h1{font-size: 100px;
   margin-top: 200px;
   margin-bottom: 200px;
  }
h2{font-size: 30px;
}
.p1{font-size: 20px;
}
h3{font-size: 30px;
   margin-top: 120px;
   margin-bottom: 50px;
  }
.p2{width: 500px;
   margin: 0 auto;
   margin-bottom:100px;
    font-size: 20px;
}
body{text-align: center;}

