.hidden {visibility: hidden;
        }

h1{font-size: 100px;
   margin-top: 230px;
  }

.p0{font-size:50px;
    margin: -100px outo 150px outo;
   }

h2{font-size: 30px;
}

.p1{font-size: 20px;
}

h3{font-size: 30px;
   margin-top: 120px;
   margin-bottom: 50px;
  }

.p2{width: 400px;
   margin: 0 auto;
   margin-bottom:100px;
    font-size: 20px;
}

body{text-align: center;}

