.hidden {visibility: hidden;
        }

h1{font-size: 100px;
   margin-top: 230px;
   font-family: "Kaisei Decol",sans-serif;
  }

.p0{font-size:50px;
    margin-top: -50px;
    margin-bottom: 100px;
   }

h2{font-size: 30px;
   display: inline-block;
   border-bottom: 2px solid black;
   padding-bottom: 5px;
}

.p1{font-size: 20px;
}

h3{font-size: 30px;
   margin-top: 120px;
   margin-bottom: 50px;
  }

.p2{width: 380px;
   margin: 0 auto;
   margin-bottom:200px;
    font-size: 20px;
}

.english-word{font-size: 100px;
           }

.meaning{font-size:50px;
        }

.sound{font-size: 12px;
      margin-top: -50px;
      }

.details{width: 380px;
   margin: 0 auto;
    font-size: 20px;}

body{text-align: center;
    font-family: "Klee One",sans-serif;
    }

.history{
    width: 500px;
    height: 180px;
    overflow-y: auto;
    border: 2px solid black;
    padding: 10px;
        text-align: center;
        margin: 0 auto;
}

button{
        cursor: pointer;
        transition: 0.2s;
        font-size: 20px;
    　　 padding: 20px 40px;
}
button:hover{
        transform: scale(1.05);
}
